@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}

html {
  scroll-behavior: smooth;
}

#section2{
	background: #202020;
	font-family: 'Roboto', sans-serif;
}
#carousel{
	padding :0;
}

#bookAd{
	text-align:center;
	vertical-align: middle;
	color:white;
	display:inline;
	padding-top:50%;
}

.book-body {
  height: 100vh;
  width: 100vw;
}
.wrap {
  height: 100%;
  max-width: 1280px;
  text-align: center;
  position: relative;
}
.wrap .perspective {
  width: 100%;
  height: 100%;
  perspective: 1000px;
  transform-style: preserve-3d;
  overflow: hidden;
}
.book-wrap {
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: all ease-out 0.6s;
  -webkit-transition: all ease-out 0.6s;
  -moz-transition: all ease-out 0.6s;
  -ms-transition: all ease-out 0.6s;
  -o-transition: all ease-out 0.6s;
  transform: rotateY(20deg);
}
.book {
  width: 25%;
  height: 80%;
  background: url(KeraptiCover6.jpg) no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  
  
  -webkit-box-shadow: 87px 54px 95px 32px rgba(0,0,0,0.75);
-moz-box-shadow: 87px 54px 95px 32px rgba(0,0,0,0.75);
box-shadow: 87px 54px 95px 32px rgba(0,0,0,0.75);
}
.title {
  content: "";
  height: 80%;
  width: 2%;
  position: absolute;
  right: 0;
  left: -25%;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #6a62b5;
  transform: rotateY(-80deg) translateX(-14px);
}
.book-back {
  width: 25%;
  height: 80%;
  background-color: #6a62b5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  transform: rotate(180deg) translateZ(-30px) translateX(5px);
}
.book-back .text {
  transform: rotateX(180deg);
  position: absolute;
  bottom: 30px;
  padding: 20px;
  text-align: left;
}
.book-back .text h3 {
  margin-bottom: 20px;
  color: #fff;
}
.book-back .text span {
  display: block;
  margin-bottom: 20px;
  color: #fff;
}
.book-back .text span:last-of-type {
  margin-top: 30px;
}
.rotate {
  transform: rotateY(30deg);
}
.flip {
  transform: rotateY(190deg);
}